# ETL

- Procesamiento de los datasets.

In [94]:
import pandas as pd
#pip install pyarrow

In [95]:
# Importar todas las hojas del archivo excel
path = r'C:\Users\barce\OneDrive\Escritorio\HENRY\HENRY_Course\1- Data_Science\Proyectos\1- Individual\PI - 1\PI01_DATA_ENGINEERING-main\Datasets\precios_semanas_20200419_20200426.xlsx'
df_1 = pd.read_excel(path, sheet_name= None)

In [96]:
df_1.keys()

dict_keys(['precios_20200426_20200426', 'precios_20200419_20200419'])

In [97]:
df_1_h1 = df_1['precios_20200426_20200426']
df_1_h2 = df_1['precios_20200419_20200419']

In [98]:
# Union hojas en un df
#df_1_concat = pd.concat(df_1, ignore_index=True)

In [99]:
path_2 = r'C:\Users\barce\OneDrive\Escritorio\HENRY\HENRY_Course\1- Data_Science\Proyectos\1- Individual\PI - 1\PI01_DATA_ENGINEERING-main\Datasets\precios_semana_20200413.csv' 
df_2 = pd.read_csv(path_2, encoding='utf-16-le', sep=',')

In [100]:
path_3 = r'C:\Users\barce\OneDrive\Escritorio\HENRY\HENRY_Course\1- Data_Science\Proyectos\1- Individual\PI - 1\PI01_DATA_ENGINEERING-main\Datasets\precios_semana_20200503.json'
df_3 = pd.read_json(path_3)

In [101]:

path_4 = r'C:\Users\barce\OneDrive\Escritorio\HENRY\HENRY_Course\1- Data_Science\Proyectos\1- Individual\PI - 1\PI01_DATA_ENGINEERING-main\Datasets\precios_semana_20200518.txt'
df_4 = pd.read_csv(path_4, sep='|')

In [102]:
# Carga de archivo .parquet
path_5 = r'C:\Users\barce\OneDrive\Escritorio\HENRY\HENRY_Course\1- Data_Science\Proyectos\1- Individual\PI - 1\PI01_DATA_ENGINEERING-main\Datasets\producto.parquet'
df_producto = pd.read_parquet(path_5, engine='pyarrow')

In [103]:
path_6 = r'C:\Users\barce\OneDrive\Escritorio\HENRY\HENRY_Course\1- Data_Science\Proyectos\1- Individual\PI - 1\PI01_DATA_ENGINEERING-main\Datasets\sucursal.csv'
df_sucursal = pd.read_csv(path_6, sep=',')

* Valores duplicados: Identificación y Tratamiento

In [104]:
# Diccionario de DataFrames

dicc = {'df_1_h1':df_1_h1, 'df_1_h2':df_1_h2, 'df_2':df_2,
         'df_3':df_3, 'df_4':df_4, 'df_sucursal':df_sucursal, 'df_producto':df_producto}

In [105]:

dicc = {'df_1_h1':df_1_h1, 'df_1_h2':df_1_h2, 'df_2':df_2,
         'df_3':df_3, 'df_4':df_4, 'df_sucursal':df_sucursal, 'df_producto':df_producto}
for key in dicc:
    print(key,'   ','Cantidad Registros Duplicados:',len(dicc[key])-len(dicc[key].drop_duplicates()))

df_1_h1     Cantidad Registros Duplicados: 4217
df_1_h2     Cantidad Registros Duplicados: 0
df_2     Cantidad Registros Duplicados: 32
df_3     Cantidad Registros Duplicados: 0
df_4     Cantidad Registros Duplicados: 189
df_sucursal     Cantidad Registros Duplicados: 0
df_producto     Cantidad Registros Duplicados: 0

Se procede a eliminar los registros duplicados

In [106]:
# Verificación
dicc = {'df_1_h1':df_1_h1, 'df_1_h2':df_1_h2, 'df_2':df_2,
         'df_3':df_3, 'df_4':df_4, 'df_sucursal':df_sucursal, 'df_producto':df_producto}
for key in dicc:
    dicc[key].drop_duplicates(inplace=True)
    print(key,'   ','Cantidad Registros Duplicados:',len(dicc[key])-len(dicc[key].drop_duplicates()))

df_1_h1     Cantidad Registros Duplicados: 0
df_1_h2     Cantidad Registros Duplicados: 0
df_2     Cantidad Registros Duplicados: 0
df_3     Cantidad Registros Duplicados: 0
df_4     Cantidad Registros Duplicados: 0
df_sucursal     Cantidad Registros Duplicados: 0
df_producto     Cantidad Registros Duplicados: 0

- Valores Faltantes

In [107]:
dicc = {'df_1_h1':df_1_h1, 'df_1_h2':df_1_h2, 'df_2':df_2,
         'df_3':df_3, 'df_4':df_4, 'df_sucursal':df_sucursal, 'df_producto':df_producto}
for key in dicc:

    porcentaje_null = round(dicc[key].isnull().sum()*100/dicc[key].shape[0],2)
    print(key,' ','Cantidad Registros Nulos:','\n',dicc[key].isnull().sum(),'\n')
    print(key,' ','porcentaje: %','\n',porcentaje_null,'\n')

df_1_h1   Cantidad Registros Nulos:
 precio         1639
sucursal_id       0
producto_id    9302
dtype: int64

df_1_h1   porcentaje: %
 precio         0.35
sucursal_id    0.00
producto_id    1.96
dtype: float64

df_1_h2   Cantidad Registros Nulos:
 precio         1807
sucursal_id       0
producto_id       0
dtype: int64

df_1_h2   porcentaje: %
 precio         0.39
sucursal_id    0.00
producto_id    0.00
dtype: float64

df_2   Cantidad Registros Nulos:
 precio         1
producto_id    3
sucursal_id    3
dtype: int64

df_2   porcentaje: %
 precio         0.0
producto_id    0.0
sucursal_id    0.0
dtype: float64

df_3   Cantidad Registros Nulos:
 precio         0
producto_id    0
sucursal_id    0
dtype: int64

df_3   porcentaje: %
 precio         0.0
producto_id    0.0
sucursal_id    0.0
dtype: float64

df_4   Cantidad Registros Nulos:
 precio         1957
producto_id       3
sucursal_id       3
dtype: int64

df_4   porcentaje: %
 precio         0.47
producto_id    0.00
sucursal_id    0.00
dtype: float64

df_sucursal   Cantidad Registros Nulos:
 id                     0
comercioId             0
banderaId              0
banderaDescripcion     0
comercioRazonSocial    0
provincia              0
localidad              0
direccion              0
lat                    0
lng                    0
sucursalNombre         0
sucursalTipo           0
dtype: int64

df_sucursal   porcentaje: %
 id                     0.0
comercioId             0.0
banderaId              0.0
banderaDescripcion     0.0
comercioRazonSocial    0.0
provincia              0.0
localidad              0.0
direccion              0.0
lat                    0.0
lng                    0.0
sucursalNombre         0.0
sucursalTipo           0.0
dtype: float64

df_producto   Cantidad Registros Nulos:
 id                  0
marca               2
nombre              2
presentacion        2
categoria1      72034
categoria2      72034
categoria3      72034
dtype: int64

df_producto   porcentaje: %
 id               0.00
marca            0.00
nombre           0.00
presentacion     0.00
categoria1      99.99
categoria2      99.99
categoria3      99.99
dtype: float64

Se puede apreciar que la cantidad de valores faltantes (excluidos los de categorías) no es significante en comparación con la cantidad de registros totales, por lo que se puede esperar que lo datos no se vearán afectados, como medida ante esto he decidido sólo reemplazar esos valores faltantes con '0'.

In [108]:
dicc = {'df_1_h1':df_1_h1, 'df_1_h2':df_1_h2, 'df_2':df_2,
         'df_3':df_3, 'df_4':df_4, 'df_sucursal':df_sucursal, 'df_producto':df_producto}
for key in dicc:
    for e in dicc[key]:
        dicc[key][e].fillna(0, inplace=True)

* Tipo de Dato por DataFrame y Columna

In [109]:
dicc = {'df_1_h1':df_1_h1, 'df_1_h2':df_1_h2, 'df_2':df_2,
         'df_3':df_3, 'df_4':df_4, 'df_sucursal':df_sucursal, 'df_producto':df_producto}
for key in dicc:
    e=0
    while e < dicc[key].columns.shape[0]:
        for i in dicc[key]:
            
            print(key,' ',dicc[key].columns[e],' ','Tipo de Dato:',dicc[key][i].dtype,'\n')
            e+=1

df_1_h1   precio   Tipo de Dato: float64

df_1_h1   sucursal_id   Tipo de Dato: object

df_1_h1   producto_id   Tipo de Dato: float64

df_1_h2   precio   Tipo de Dato: float64

df_1_h2   sucursal_id   Tipo de Dato: object

df_1_h2   producto_id   Tipo de Dato: object

df_2   precio   Tipo de Dato: float64

df_2   producto_id   Tipo de Dato: object

df_2   sucursal_id   Tipo de Dato: object

df_3   precio   Tipo de Dato: object

df_3   producto_id   Tipo de Dato: object

df_3   sucursal_id   Tipo de Dato: object

df_4   precio   Tipo de Dato: float64

df_4   producto_id   Tipo de Dato: object

df_4   sucursal_id   Tipo de Dato: object

df_sucursal   id   Tipo de Dato: object

df_sucursal   comercioId   Tipo de Dato: int64

df_sucursal   banderaId   Tipo de Dato: int64

df_sucursal   banderaDescripcion   Tipo de Dato: object

df_sucursal   comercioRazonSocial   Tipo de Dato: object

df_sucursal   provincia   Tipo de Dato: object

df_sucursal   localidad   Tipo de Dato: object

df_sucursal   direccion   Tipo de Dato: object

df_sucursal   lat   Tipo de Dato: float64

df_sucursal   lng   Tipo de Dato: float64

df_sucursal   sucursalNombre   Tipo de Dato: object

df_sucursal   sucursalTipo   Tipo de Dato: object

df_producto   id   Tipo de Dato: object

df_producto   marca   Tipo de Dato: object

df_producto   nombre   Tipo de Dato: object

df_producto   presentacion   Tipo de Dato: object

df_producto   categoria1   Tipo de Dato: object

df_producto   categoria2   Tipo de Dato: object

df_producto   categoria3   Tipo de Dato: object

* Cambiar orden de las columnas del archivo XLSX

In [110]:
df_1_h1 = df_1_h1[['precio','producto_id','sucursal_id']]
df_1_h2 = df_1_h2[['precio','producto_id','sucursal_id']]

* Cambiar nombre de la columna id del df_producto

In [111]:
df_producto = df_producto.rename(columns={'id':'producto_id'})

* Solucionar errores en producto_id

Decidí dejar de la estos cambios hasta lograr una mejor evaluación

# Se quitan los primeros dígitos del Id para obtener el código EAN de 13 dígitos
df_1_h2.producto_id = df_1_h2.producto_id.astype('str')
df_1_h2.producto_id = df_1_h2.producto_id.apply(lambda x: x.split('-')[-1])
df_1_h2.producto_id = df_1_h2.producto_id.apply(lambda x: x.zfill(13))

df_1_h1.producto_id = df_1_h2.producto_id.astype('str')
df_1_h2.producto_id = df_1_h2.producto_id.apply(lambda x: x.zfill(13))

df_2.producto_id = df_2.producto_id.astype('str')
df_2.producto_id = df_2.producto_id.apply(lambda x: x.split('-')[-1])
df_1_h2.producto_id = df_1_h2.producto_id.apply(lambda x: x.zfill(13))

df_3.producto_id = df_3.producto_id.astype('str')
df_3.producto_id = df_3.producto_id.apply(lambda x: x.split('-')[-1])
df_3.producto_id = df_3.producto_id.apply(lambda x: x.zfill(13))

df_producto.producto_id = df_producto.producto_id.astype('str')
df_producto.producto_id = df_producto.producto_id.apply(lambda x: x.split('-')[-1])
df_producto.producto_id = df_producto.producto_id.apply(lambda x: x.zfill(13))

* Reducir cantidad de decimales de columna precio

In [112]:
# Reemplazar str '' con 0, cambiar type 
df_3.precio = df_3.precio.replace('',0)

In [113]:
df_2.precio = df_2.precio.astype(float);
df_1_h1.precio = df_1_h1.precio.astype(float);
df_1_h2.precio = df_1_h2.precio.astype(float);
df_3.precio = df_3.precio.astype(float);
df_4.precio = df_4.precio.astype(float);

In [114]:
# Se detectan nuevamente valores nulos
dicc = {'df_1_h1':df_1_h1, 'df_1_h2':df_1_h2, 'df_2':df_2,
         'df_3':df_3, 'df_4':df_4, 'df_sucursal':df_sucursal, 'df_producto':df_producto}
for key in dicc:

    porcentaje_null = round(dicc[key].isnull().sum()*100/dicc[key].shape[0],2)
    print(key,' ','Cantidad Registros Nulos:','\n',dicc[key].isnull().sum(),'\n')
    print(key,' ','porcentaje: %','\n',porcentaje_null,'\n')

df_1_h1   Cantidad Registros Nulos:
 precio         0
producto_id    0
sucursal_id    0
dtype: int64

df_1_h1   porcentaje: %
 precio         0.0
producto_id    0.0
sucursal_id    0.0
dtype: float64

df_1_h2   Cantidad Registros Nulos:
 precio         0
producto_id    0
sucursal_id    0
dtype: int64

df_1_h2   porcentaje: %
 precio         0.0
producto_id    0.0
sucursal_id    0.0
dtype: float64

df_2   Cantidad Registros Nulos:
 precio         0
producto_id    0
sucursal_id    0
dtype: int64

df_2   porcentaje: %
 precio         0.0
producto_id    0.0
sucursal_id    0.0
dtype: float64

df_3   Cantidad Registros Nulos:
 precio         0
producto_id    0
sucursal_id    0
dtype: int64

df_3   porcentaje: %
 precio         0.0
producto_id    0.0
sucursal_id    0.0
dtype: float64

df_4   Cantidad Registros Nulos:
 precio         0
producto_id    0
sucursal_id    0
dtype: int64

df_4   porcentaje: %
 precio         0.0
producto_id    0.0
sucursal_id    0.0
dtype: float64

df_sucursal   Cantidad Registros Nulos:
 id                     0
comercioId             0
banderaId              0
banderaDescripcion     0
comercioRazonSocial    0
provincia              0
localidad              0
direccion              0
lat                    0
lng                    0
sucursalNombre         0
sucursalTipo           0
dtype: int64

df_sucursal   porcentaje: %
 id                     0.0
comercioId             0.0
banderaId              0.0
banderaDescripcion     0.0
comercioRazonSocial    0.0
provincia              0.0
localidad              0.0
direccion              0.0
lat                    0.0
lng                    0.0
sucursalNombre         0.0
sucursalTipo           0.0
dtype: float64

df_producto   Cantidad Registros Nulos:
 producto_id     0
marca           0
nombre          0
presentacion    0
categoria1      0
categoria2      0
categoria3      0
dtype: int64

df_producto   porcentaje: %
 producto_id     0.0
marca           0.0
nombre          0.0
presentacion    0.0
categoria1      0.0
categoria2      0.0
categoria3      0.0
dtype: float64

In [115]:
# quitar registro nulos de df_1_h1.producto_id
df_1_h1.producto_id.fillna(0,inplace=True)

In [116]:
df_2.precio = df_2.precio.round(2)
df_1_h1.precio = df_1_h1.precio.round(2)
df_1_h2.precio = df_1_h2.precio.round(2)
df_3.precio = df_3.precio.round(2)
df_4.precio = df_4.precio.round(2)

* Corrección sucursal_id

Algunos registros contienen formato datetime y se presentan como fecha y hora. Además los componentes del id están en orden inverso

In [117]:
# Función para normalizar los id

df_1_h2.sucursal_id = df_1_h2.sucursal_id.astype(str)
df_2.sucursal_id = df_2.sucursal_id.astype(str)

def mod_id_suc (x):
    if ' 00:00:00' in x:
        x = x.replace(' 00:00:00','')
        val_1 = x.split('-')[0]
        val_2 = x.split('-')[1]
        val_3 = x.split('-')[2]
       
        x = val_3 + '-' + val_2 + '-' + val_1
    return x

df_2.sucursal_id = df_2.sucursal_id.apply(mod_id_suc)
df_1_h2.sucursal_id = df_1_h2.sucursal_id.apply(mod_id_suc)

* Crear columnas con Fechas

- - - Extracción de fechas de los nombres de los archivos

In [118]:
import os
import re

In [119]:
# Extraer el texto del cual se sacará la fecha
df_2_texto = os.path.split(path_2)[1]
df_3_texto = os.path.split(path_3)[1]
df_4_texto = os.path.split(path_4)[1]

lista = list(df_1.keys())
df_1_h1_texto = lista[0]
df_1_h2_texto = lista[1]

In [120]:
# Extraer la fecha del texto
df_2_fecha = [int(df_2_semana) for df_2_semana in re.findall(r'\d+', df_2_texto)][0]
df_3_fecha = [int(df_3_semana) for df_3_semana in re.findall(r'\d+', df_3_texto)][0]
df_4_fecha = [int(df_4_semana) for df_4_semana in re.findall(r'\d+', df_4_texto)][0]
df_1_h1_fecha = [int(df_2_semana) for df_2_semana in re.findall(r'\d+', df_1_h1_texto)][0]
df_1_h2_fecha = [int(df_2_semana) for df_2_semana in re.findall(r'\d+', df_1_h2_texto)][0]

In [121]:
df_2['fecha_semana'] = df_2_fecha
df_3['fecha_semana'] = df_3_fecha
df_4['fecha_semana'] = df_4_fecha
df_1_h1['fecha_semana'] = df_1_h1_fecha
df_1_h2['fecha_semana'] = df_1_h2_fecha

* Verificar datos no duplicados en id de df_sucursal

In [125]:
len(df_sucursal.id)-len(df_sucursal.id.drop_duplicates())

0

* Exportar DataFrames a CSV

In [132]:
# ubicar csv en programdata para poder acceder a ellos desde mysql
df_1_h1.to_csv(r'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\PI-01\precios_semanas_20200426_20200426_mod_h1.csv', index=False)
df_1_h2.to_csv(r'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\PI-01\precios_semanas_20200419_20200419_mod_h2.csv', index=False)
df_2.to_csv(r'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\PI-01\precios_semana_20200413_mod.csv', index=False)
df_3.to_csv(r'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\PI-01\precios_semana_20200503_mod.csv', index=False)
df_4.to_csv(r'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\PI-01\precios_semana_20200518_mod.csv', index=False)
df_producto.to_csv(r'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\PI-01\producto_mod.csv', index=False)
df_sucursal.to_csv(r'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\PI-01\sucursal_mod.csv', index=False)